<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<jsp:useBean id="estates" type="java.util.List<Estate>" scope="request" />
<jsp:useBean id="lastScan" class="java.util.Date" scope="request" />

<html xmlns="http://www.w3.org/1999/xhtml" ng-app="EstateFinder">
<head>
<title>Zoznam bytov</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="css/dashboard.css" rel="stylesheet" type="text/css">
		<script
			src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js" />
		<script src="js/controller.js" />
		<script src="js/app.js" />
</head>
<body ng-controller="DriversController">
  <table>
    <thead>
      <tr><th colspan="4">Drivers Championship Standings</th></tr>
    </thead>
    <tbody>
      <tr ng-repeat="driver in driversList">
        <td>{{$index + 1}}</td>
        <td>
          {{driver.Driver.givenName}}&nbsp;{{driver.Driver.familyName}}
        </td>
        <td>{{driver.Constructors[0].name}}</td>
        <td>{{driver.points}}</td>
      </tr>
    </tbody>
  </table>
</body>

<!--
<body ng-controller="EstatesController">
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button data-target=".navbar-collapse" data-toggle="collapse"
					class="navbar-toggle" type="button">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a href="/" class="navbar-brand">Estate Finder</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/collect">Collect new</a></li>
					<li><a href="/delete">Delete</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a>Total: <span class="badge">${fn:length(estates)}</span></a></li>
					<li><a><fmt:formatDate pattern="dd.MM.yyyy HH:mm:ss"
								value="${lastScan}" timeZone="Europe/Bratislava" /></a></li>
				</ul>
			</div>
		</div>
	</div>
	<p class="time"></p>
	<div class="clearer"></div>
	<table>
		<tbody>
			<tr ng-repeat="estate in estates">
				<div id="${estate.ID}" class="inzerat ">
					<div class="photo-border advertisement-photo">
						<a class="advertPhoto" href="{{estate.URL}}" target="_blank">
							<img alt="{{estate.TITLE}}" data-src="{{estate.THUMBNAIL}}"
							src="{{estate.THUMBNAIL}}">
						</a>
					</div>

					<div class="advertisement-head ">
						<h2>
							<a href="{{estate.URL}}" target="_blank" title="{{estate.ID}}">{{estate.TITLE}}</a>
						</h2>
					</div>

					<div class="inzerat-content">
						<div class="locationText bold red">{{estate.STREET}}</div>
						<ul>
							<li ng-repeat="note in estate.NOTES"
								class="advertisement-condition s">{{note}}</li>
							<li class="estate-area s">Plocha: <span class="red">{{estate.AREA}}
									m²</span>
							</li>
						</ul>
						<p class="advertisement-content-p grey">{{estate.SHORT_TEXT}}</p>
					</div>

					<div class="advertisement-rightpanel">
						<p class="cena">
							<span class="tlste red"> {{estate.PRICE}} € </span>
						</p>
						<p class="time">
							<span class="tlste"> <fmt:formatDate
									pattern="dd.MM.yyyy HH:mm" value="{{estate.TIMESTAMP}}"
									timeZone="Europe/Bratislava" />
							</span> <input name="selected" type="checkbox" value="{{estate.ID}}" />
						</p>
					</div>
					<div class="clearer"></div>
				</div>
			</tr>
		</tbody>
	</table>
</body>
-->
</html>
