@CHARSET "UTF-8";

body {
    color: #333;
    font: 13px Arial,lucida;
    text-align: left;
}
.inzerat {
	background-color: #fff;
	display: block;
	font-size: 11px;
	padding: 15px 10px;
	position: relative;
	transition-duration: 0.3s;
}

.advertisement-photo {
	background-color: #fff;
	float: left;
	height: 120px;
	margin-right: 15px;
	position: relative;
	text-align: center;
	width: 160px;
}

.photo-border {
	border: 1px solid #e6e6e6;
}

div.advertisement-head {
	margin-bottom: 14px;
	overflow: hidden;
/*	width: 600px; */
}

#inzeraty h2 {
	font-size: 17px;
	margin: 0;
}

.inzerat h2, .reportItem h2 {
	font-weight: bold;
	margin-bottom: 8px;
}

div.advertisement-head a {
	color: #262626;
	display: block;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

a {
	color: #0962a0;
	cursor: pointer;
	outline: medium none;
	text-decoration: none;
}

.inzerat .inzerat-content {
	color: #333;
	line-height: 17px;
	overflow: hidden;
	width: 365px;
	text-align: left;
}

.inzerat .inzerat-content .locationText {
	font-size: 13px;
}

.bold {
	font-weight: bold !important;
}

.red, .cervena {
	color: #cc0a0a !important;
}

.inzerat .inzerat-content .estate-area, .inzerat .inzerat-content .advertisement-condition
	{
	background-position: -963px -619px;
	padding-left: 15px;
}

.inzerat .inzerat-content .estate-area, .inzerat .inzerat-content .advertisement-condition {
    background-position: -963px -619px;
    padding-left: 15px;
}

.inzerat .inzerat-content .advertisement-content-p {
    overflow: hidden;
    padding-top: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.inzerat .inzerat-content .grey {
    color: #999;
}
.grey {
    color: #aaa;
}

.inzerat .advertisement-rightpanel {
    position: absolute;
    right: 10px;
    top: 15px;
    width: 115px;
}
.time {
    float: right;
    font-size: 10px;
    margin: 8px 0 0;
}
.inzerat .advertisement-rightpanel {
    margin: 0;
    padding: 0;
    text-align: right;
    float: right;
}
.cena {
    float: right;
    font-size: 10px;
    margin: 8px 0 0;
}

.inzerat .advertisement-rightpanel .cena span, .inzerat .advertisement-rightpanel .cena strong {
    display: block;
    margin: 0;
    padding: 0 0 5px;
}
.cena strong, .cena span {
    color: #262626;
    font-size: 15px;
    margin-bottom: 4px;
    margin-right: 5px;
}
span.tlste {
    font-weight: bold;
}

.clearer {
    clear: both;
}
ul {
    list-style: none;
    padding:0;
    margin:0;
}

li { 
    padding-left: 1em; 
    text-indent: -.7em;
}
li:before {
    content: "• ";
    color: red; /* or whatever color you prefer */
}