<!doctype html>
<html ng-app="EstatesFinderApp">
<head>
<meta charset="utf-8">
<title>App</title>
<link href="resources/css/app.css" rel="stylesheet" typr="text/css" />
<link href="resources/bootstrap/css/bootstrap.min.css" rel="stylesheet"
	type="text/css">
</head>
<body ng-controller="EstatesController">
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button data-target=".navbar-collapse" data-toggle="collapse"
					class="navbar-toggle" type="button">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a href="/" class="navbar-brand">Estate Finder</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/collect">Collect new</a></li>
					<li><a href="/delete">Delete</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a>Total: <span class="badge">{{estates.length}}</span></a></li>
					<li><a>{{lastScan | date:'dd.MM.yyyy HH:mm}}</a></li>
					<li><a>{{test}}</a></li>
				</ul>
			</div>
		</div>
	</div>
	<p class="time"></p>
	<div class="clearer"></div>
	<!--	
	<table>
		<tbody>
			<tr ng-repeat="estate in estates">
				<div id="{{estate.ID}}" class="inzerat ">
					<div class="photo-border advertisement-photo">
						<a class="advertPhoto" href="{{estate.URL}}" target="_blank">
							<img alt="{{estate.TITLE}}" data-src="{{estate.THUMBNAIL}}"
							src="{{estate.THUMBNAIL}}">
						</a>
					</div>

					<div class="advertisement-head ">
						<h2>
							<a href="{{estate.URL}}" target="_blank" title="{{estate.ID}}">{{estate.TITLE}}</a>
						</h2>
					</div>

					<div class="inzerat-content">
						<div class="locationText bold red">{{estate.STREET}}</div>
						<ul>
							<li ng-repeat="note in estate.NOTES"
								class="advertisement-condition s">{{note}}</li>
							<li class="estate-area s">Plocha: <span class="red">{{estate.AREA}}
									m²</span>
							</li>
						</ul>
						<p class="advertisement-content-p grey">{{estate.SHORT_TEXT}}</p>
					</div>

					<div class="advertisement-rightpanel">
						<p class="cena">
							<span class="tlste red"> {{estate.PRICE}} € </span>
						</p>
						<p class="time">
							<span class="tlste">{{estate.TIMESTAMP | date:'dd.MM.yyyy
								HH:mm'}} </span> <input name="selected" type="checkbox"
								value="{{estate.ID}}" />
						</p>
					</div>
					<div class="clearer"></div>
				</div>
			</tr>
		</tbody>
	</table>
 -->
	<script src="resources/js/app.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
</body>

</html>
