<!doctype html>
<html ng-app="EstatesFinderApp">
<head>
<meta charset="utf-8">
<title>Zoznam bytov</title>
<link rel="icon" type="image/x-icon" href="resources/favicon.ico" />

<link rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="resources/css/dashboard.css" />
<link rel="stylesheet" href="resources/css/estateList.css" />
<link rel="stylesheet"
	href="http://ivaynberg.github.com/select2/select2-3.5.1/select2.css" />

<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular-animate.js"></script>
<script
	src="http://ivaynberg.github.io/select2/select2-3.5.1/select2.js"></script>
<script src="resources/js/App.js"></script>
<script src="resources/js/EstatesController.js"></script>
<script src="resources/js/EstatesFilters.js"></script>

</head>
<body ng-controller="EstatesController">
	<!--workaround for error message truncating in Chrome-->
	<script>
		//5th parameter is the key one
		window.onerror = function(errorMsg, url, lineNumber, columnNumber,
				errorObject) {
			var errMsg;
			if (errorObject && errorObject !== undefined) {
				errMsg = errorObject.message;
			} else {
				errMsg = errorMsg;
			}
			console.log('Error: ' + errMsg);
		}

		$(function() {
			$("#searchStreet").select2({
				closeOnSelect : false
			});
			$('#newBadge').tooltip();

		});
	</script>

	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button data-target=".navbar-collapse" data-toggle="collapse"
					class="navbar-toggle" type="button">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a href="/" class="navbar-brand">Estate Finder</a>
			</div>
			<div class="navbar-collapse collapse">
				<form class="navbar-form navbar-left" role="search">
					<a class="btn btn-primary" ng-click="collectNow()">Collect now</a>
					<div class="form-group">
						<select id="searchStreet" multiple="multiple"
							style="width: 200px;" ng-model="searchStreet"
							ng-options="street for street in streets">
						</select>
					</div>
					<a class="btn btn-default" ng-click="searchForStreet()">Search</a>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">Utils <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a ng-click="save()">Save</a></li>
							<li><a ng-click="deleteAll()">Clear</a></li>
							<li><a ng-click="prepareRecollect()">Prepare recollect</a></li>
							<li><a ng-click="hideAllUnknownEstates()">Hide all empty streets</a></li>
						</ul></li>
					<li><a>Total:
							<div id="totalBadge" class="badge"
								title="Last visit {{lastView | nullDate:'dd.MMMM HH:mm'}}">{{allEstates.length}}</div>
							<div id="newBadge" class="badge badge-new"
								ng-show="newEstatesCount>0" data-toggle="tooltip"
								data-placement="bottom" title="New estatets since last visit">{{newEstatesCount}}</div>
					</a></li>
					<li><a>Updated: {{lastUpdate | nullDate:'dd.MMM HH:mm'}}</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row main show-hide" ng-repeat="estate in filteredEstates"
			ng-show="estate.visible">
			<div class="col-sm-offset-2 col-sm-8">
				<div class="col-sm-3">
					<a href="{{estate.url}}" target="_blank"> <img
						alt="{{estate.title}}" ng-src="{{estate.thumbnail}}" />
					</a>
				</div>

				<div class="container col-sm-7">
					<div class="row">
						<h4 class="col-sm-12 title">
							<a href="{{estate.urls[0]}}" target="_blank"
								title="Peristed: {{estate.persisted}}, dirty: {{estate.dirty}}, id: {{estate.id}}">{{estate.title}}</a>
						</h4>
					</div>
					<div class="row">
						<div class="bold red">{{estate.street}}</div>
					</div>
					<div class="row">
						Plocha:
						<div class="red area">
							{{estate.area}} m<sup>2</sup>
						</div>
					</div>
					<div class="row" ng-repeat="note in estate.notes">{{note}}</div>
				</div>

				<div class="col-sm-2">
					<div class="row">
						<div class="bold red price alignRight">{{estate.price}}
							&euro;</div>
					</div>
					<div class="row">
						<div class="alignRight">{{estate.timestamp |
							date:'dd.MM.yyyy HH:mm'}}</div>
					</div>
					<div class="row">
						<div class="btn glyphicon glyphicon-eye-close floatRight"
							ng-click="hideEstate(estate)"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
